.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../background.jpg");
    background-size: cover;
    background-position: center;
}

.login-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-title {
    color: #333;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.el-input, .el-radio {
    margin-bottom: 20px;
}

.login-button {
    width: 100%;
    font-size: 18px;
}