.img {
    /* 如果 .img 被使用，提供额外的样式 */
}

.editImg {
    width: 78px;
    height: 78px;
    border-radius: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF; /* 改进的可视性 */
    position: absolute;
    top: 50%; /* 调整位置垂直居中 */
    left: 50%; /* 调整位置水平居中 */
    transform: translate(-50%, -50%); /* 精确居中元素 */
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.AvatarDiv {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: flex;
    margin: 0 auto; /* 水平居中 */
    position: relative; /* 为绝对定位的 .editImg 提供必要的定位基准 */
}

.AvatarDiv:hover .editImg {
    display: flex; /* 改为 flex 以保持文本居中对齐 */
    cursor: pointer;
}

.upload-demo {
    display: grid;
    width: 80px;
    height: 80px;
    margin: 40px auto; /* 水平居中 */
}